src/main/resources/wsdl/tshirt-service.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://acme.com/tshirt-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TshirtServicePortTypeService" targetNamespace="http://acme.com/tshirt-service">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://acme.com/tshirt-service" targetNamespace="http://acme.com/tshirt-service" version="1.0">

  <xs:element name="ListInventory">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ListInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="inventory" type="tns:InventoryItem"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="OrderTshirt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="size" type="tns:Size"/>
        <xs:element name="productCode" type="xs:int"/>
        <xs:element name="email" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="address1" type="xs:string"/>
        <xs:element name="address2" type="xs:string"/>
        <xs:element name="city" type="xs:string"/>
        <xs:element name="stateOrProvince" type="xs:string"/>
        <xs:element name="postalCode" type="xs:string"/>
        <xs:element name="country" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="OrderTshirtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="orderId" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TrackOrder">
    <xs:complexType>
      <xs:sequence>        
        <xs:element name="orderId" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TrackOrderResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="orderId" type="xs:long"/>
        <xs:element name="status" type="tns:Status"/>
        <xs:element name="productCode" type="xs:int"/>
        <xs:element name="size" type="tns:Size"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TshirtFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorMessage" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="InventoryItem">
    <xs:sequence>
      <xs:element name="productCode" type="xs:int"/>
      <xs:element name="size" type="tns:Size"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="count" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Size">
    <xs:restriction base="xs:string">
      <xs:enumeration value="S"/>
      <xs:enumeration value="M"/>
      <xs:enumeration value="L"/>
      <xs:enumeration value="XL"/>
      <xs:enumeration value="XXL"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WAITING_CARRIER"/>
      <xs:enumeration value="IN_TRANSIT"/>
      <xs:enumeration value="DELIVERED"/>      
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="TrackOrder">
    <wsdl:part element="tns:TrackOrder" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ListInventory">
    <wsdl:part element="tns:ListInventory" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderTshirtResponse">
    <wsdl:part element="tns:OrderTshirtResponse" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderTshirt">
    <wsdl:part element="tns:OrderTshirt" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ListInventoryResponse">
    <wsdl:part element="tns:ListInventoryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TrackOrderResponse">
    <wsdl:part element="tns:TrackOrderResponse" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TshirtFault_Exception">
    <wsdl:part element="tns:TshirtFault" name="TshirtFault_Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TshirtServicePortType">
    <wsdl:operation name="TrackOrder">
      <wsdl:input message="tns:TrackOrder" name="TrackOrder">
    </wsdl:input>
      <wsdl:output message="tns:TrackOrderResponse" name="TrackOrderResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TshirtFault_Exception" name="TshirtFault_Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrderTshirt">
      <wsdl:input message="tns:OrderTshirt" name="OrderTshirt">
    </wsdl:input>
      <wsdl:output message="tns:OrderTshirtResponse" name="OrderTshirtResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TshirtFault_Exception" name="TshirtFault_Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListInventory">
      <wsdl:input message="tns:ListInventory" name="ListInventory">
    </wsdl:input>
      <wsdl:output message="tns:ListInventoryResponse" name="ListInventoryResponse">
    </wsdl:output>
      <wsdl:fault message="tns:TshirtFault_Exception" name="TshirtFault_Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TshirtServicePortTypeServiceSoapBinding" type="tns:TshirtServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TrackOrder">
      <soap:operation soapAction="http://acme.com/tshirt-service/track-order" style="document"/>
      <wsdl:input name="TrackOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TrackOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TshirtFault_Exception">
        <soap:fault name="TshirtFault_Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrderTshirt">
      <soap:operation soapAction="http://acme.com/tshirt-service/order-tshirt" style="document"/>
      <wsdl:input name="OrderTshirt">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="OrderTshirtResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TshirtFault_Exception">
        <soap:fault name="TshirtFault_Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListInventory">
      <soap:operation soapAction="http://acme.com/tshirt-service/list-inventory" style="document"/>
      <wsdl:input name="ListInventory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ListInventoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TshirtFault_Exception">
        <soap:fault name="TshirtFault_Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TshirtServicePortTypeService">
    <wsdl:port binding="tns:TshirtServicePortTypeServiceSoapBinding" name="TshirtServicePortTypePort">
      <soap:address location="http://localhost:8080/ws/tshirt-service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>